body {
    background-image: url(/assets/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh;
    box-sizing: border-box;
    padding: 0 20px; 
    margin: 0;
    font-family: Inter, sans-serif;
    color: white;
    font-weight: bold;
    font-size: large;
}

header {
    font-size: xx-large;
    margin-top: 80px;      
    margin-bottom: 40px;   
    text-align: center;
}

.cards {
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
}

.card {
height: 200px;
width: 100%;
box-sizing: border-box;
padding: 20px 30px;
border-radius: 20px;
background-color: rgba(128, 128, 128, 0.05);
backdrop-filter: blur(5px);
border-top: 1px solid rgba(150, 150, 150, 0.3); 
border-left: 1px solid rgba(140, 140, 140, 0.2);
box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.09);
transition: 0.3s;
}

.card>p {
    color: rgb(176, 176, 176);
}
.card>img {
height: 32px;
width: auto;
}

.card:hover {
transform: scale(1.05);
background-color: rgba(170, 170, 170, 0.367);
backdrop-filter: blur(3px);
}

.cards > a {
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    flex-shrink: 0;

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(176, 176, 176);
    font-size:x-small

}


