body{
    background-image: url(/assets/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    color:white;
    font-weight: bold;
    font-size:large;
}

header {
    font-size: xx-large;
}

.cards {
display: flex;
flex-wrap: wrap;
gap: 20px;
}

.card {
height: 200px;
width: 400px;
padding: 20px 30px;
border-radius: 20px;
background-color: rgba(128, 128, 128, 0.05);
backdrop-filter: blur(5px);
border-top: 1px solid rgba(150, 150, 150, 0.3); 
border-left: 1px solid rgba(140, 140, 140, 0.2);
box-shadow: 3px 3px 3px rgba(0, 0, 0,s 0.09);
transition: 0.3s;
}

.card>p {
    color: rgb(176, 176, 176);
}
.card>img {
height: 32px;
width: auto;
}

.card:hover {
width: 350px;
background-color: rgba(170, 170, 170, 0.367);
backdrop-filter: blur(3px);
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    flex-shrink: 0;
}



